.header-logo {
    width: 200px;
}
.header ul li a {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-right: 12px;
    text-decoration: none;
}
.header ul {
    list-style: none;
}
.userImg {
    width: 30px;
    height: 30px;
}